.Day{
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: rgb(54, 59, 95); */
    /* background-color: AliceBlue; */
}
.Today{
    padding: 20px;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    background-color: azure;
    text-align: center;
}

.Calender-Container{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-auto-flow: column;
}
.Timeslots-Container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
    margin-right: 5px;
    margin-left: 5px;
    /* box-shadow: 0px 0px 35px -16px  */

}
.TimeTags-Container {
    margin-top: 30px;
    display: grid;
    grid-gap: 10px 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.timeslot{
    /* border: 1px solid black; */
    text-align: center;
}

