.ManualPage {
    text-align: center;
}
  
h2, h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
ul {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.ul-center {
    margin:0 auto;
}