

.Task{
    /* background-color: #EFEFEF; */
    /* border: 2.5px dashed #66DCEC; */
    margin-right: 20px;
}

.TaskContent{
    margin-top: 104px;
    margin-right: 40px;
    position: fixed;
    width: 200px;
    z-index: 10;
    overflow: auto;
}

.Task-Block{
    margin: 15px;
    padding: 5px;
    text-align: center;

    /* border: 1px solid black; */
}