.MainContent{
    /* background-color: rgb(44, 48, 81); */
    display: grid;
    width: auto;
    /* height: 600px; */
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px 10px;
}
.Header {
    width: auto;
    height: 100px;
    text-align: center;
}
.link {
    margin-left: 3%;
    margin-right: 3%;
}